<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vhall.live">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".VhallApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:icon="@drawable/icon_vhall"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/icon_vhall"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/icon_vhall"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".SetParamActivity"
            android:icon="@drawable/icon_vhall"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>
